/*
 * Taken in part from https://gist.github.com/killercup/5917178
 */

:root {
  /* --bg-main: #000000; */
  --bg-main: #121212;
  --bg-active: #2a2a66;
  /* --fg-main: #ffffff; */
  --text-color: #e0e0e0;
  --fg-warm: #f8dec0;
  --fg-cold: #c6eaff;
  --fg-shadowed: #a8a8a8;

  --mv-heading-0: #6ae4b9;
  --mv-heading-1: #b6a0ff;
  /* --mv-heading-2: #f78fe7; */
  --mv-heading-2: var(--fg-warm);
  --mv-heading-3: var(--fg-cold);

  --link-color: #2fafff;
  --link-color-alt: #79a8ff;
  --link-color-alt-other: #00bcff;

  --broken-link: #ffa0a0;
  --broken-link-fg: var(--link-color-alt-other);
  --broken-link-bg: #a4202a;
  --verbatim: #f78fe7;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--text-color);
  font-family: serif;
  font-size: 20px;
  line-height: 1.4;
  padding: 1em;
  margin: auto;
  max-width: 40em;
  background: var(--bg-main);
}

div#header {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 30px;
    padding-bottom: 6px;
    font-size: 24px;
}

div#banner a {
    color: var(--text-color);
    float: left;
    text-decoration: none
}

div#header #nav { text-align: right; }

div#header #nav a {
    color: var(--link-color-alt);
    font-size: 20px;
    margin-left: 12px;
    text-decoration: none;
}

div#bibliography {
  margin-top: 40px;
}

div#footer {
    border-top: solid 1px var(--text-color);
    color: var(--fg-shadowed);
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    line-height: 120%
}

div#footer a { color: var(--fg-shadowed); }

div#license { float: left; }

div#footertext { text-align: right; }

div#content { display: flow-root; }

ul#blog { list-style: none; }

ul#garden { list-style: none; }

div#content ul { list-style: circle; }

div.date {
  color: var(--fg-shadowed);
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

span.timestamp {
  color: var(--fg-shadowed);
  font-family: monospace;
  font-size: 14px;
  margin-right: 5px;
}

ul#garden span.timestamp {
  color: var(--fg-shadowed);
  font-family: monospace;
  font-size: 12px;
}

figure.pic>img {
  border: 1px solid var(--link-color-alt);
  width: 25%;
  height: 25%;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

img {
  width: 90%;
  border: 1px solid var(--link-color-alt);
}


a, a:visited, a:hover { color: var(--link-color-alt); }

a:active { color: var(--fg-warm); }

a:focus { outline: thin solid; }

ul#blog a, ul#garden a, a.footnote-ref, a.footnote-backref, a[href^="#citeproc"] {
  text-decoration: none;
}

*::-moz-selection {
  background: var(--bg-active);
  color: var(--text-color);
}

*::selection {
  background: var(--bg-active);
  color: var(--text-color);
}

a::-moz-selection {
  background: var(--bg-active);
  color: var(--link-color-alt);
}

a::selection {
  background: var(--bg-active);
  color: var(--fg-warm);
}

p { margin: 1em 0; }

img { max-width: 100%; }

h1 { color: var(--mv-heading-0); }

h2 { color: var(--mv-heading-1); }

h3 { color: var(--mv-heading-2); }

h4 { color: var(--mv-heading-3); }

h2, h3, h4, h5, h6 {
  /* color: var(--fg-warm); */
  line-height: 125%;
  font-weight: normal;
}

h1 { font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; }

div#content h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h1::before {
  content: '* ';
  /* color: var(--fg-shadowed); */
}

h2::before {
  content: '** ';
  /* color: var(--fg-shadowed); */
}

h3::before {
  content: '*** ';
  /* color: var(--fg-shadowed); */
}

h4::before {
  content: '**** ';
  /* color: var(--fg-shadowed); */
}

blockquote {
  color: var(--fg-shadowed);
  margin: 0;
  padding-left: 1em;
  border-left: 0.25em var(--fg-shadowed) solid;
}

blockquote .attribution { margin-top: -0.5em; }

blockquote .attribution p { text-align: right; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--text-color);
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

pre {
  /*background-color: #333842;
  color: #bbc2cf;*/
  color: var(--text-color);
  /* restrict code blocks to half viewport height at most */
  max-height: 50vh;
  overflow: auto;
  font-size: 80%;
  line-height: 1.2;
  border: 1px solid var(--link-color-alt);
  // border-radius: 7px;
  /*box-shadow: rgb(238, 238, 238) 4px 4px 6px 0px;*/
  padding: 1em;
}

/* it looks like ox-html uses code without pre for inline code */
:not(pre) > code {
  font-size: 80%;
  position: relative;
  color: var(--verbatim);
}

/* adapted from http://demo.thi.ng/org-spec/ */
/* though it seems to be kinda broken? not sure what I did.. */

/*
code:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: var(--link-color-alt);
    font-size: 100%;
    line-height: 1.6;
}

code[class^="language-"]:not([data-lang="text"]):before {
    content: '(' attr(data-lang) ')';
}*/


/* adapting the styling for code above to mathematical environments */
div.theorem, div.definition, div.lemma, div.proof {
  overflow: auto;
  border: 1px solid var(--link-color-alt);
  // border-radius: 7px;
  /*box-shadow: rgb(238, 238, 238) 4px 4px 6px 0px;*/
  padding: 1em;
  position: relative;
}

/* if the proof immediately follows another div, don't double the borders */
div+div.proof { border-top: none }

.theorem:before, .definition:before, .lemma:before, .proof:before, .proof-sketch:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    border: 0;
    color: var(--link-color-alt);
    font-size: 80%;
    font-family: monospace;
    line-height: 1.6;
}

.theorem:before { content: 'theorem'; }

.definition:before { content: 'definition'; }

.lemma:before { content: 'lemma'; }

.proof:before { content: 'proof'; }

b, strong { font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child { margin-bottom: 0; }

ul ul, ol ol { margin: .3em 0; }

img {
  // border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  // border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}

div#bibliography table, th, tr, td { border: none; }

/* style the tags for headings */
span.tag span {
  font-size: 60%;
  color: var(--fg-shadowed);
}

/* add slashes after each tag */
span.tag span::after { content: " "; }

/* but don't add a slash after the last one */
span.tag span:last-child::after { content: ""; }

/* style todo states */
.todo, .done {
  color: var(--fg-shadowed);
  text-transform: lowercase;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 70%;
}

/* style section numbering */

.section-number-2, .section-number-3, .section-number-4, .section-number-5, section-number-6 {
  font-family:  monospace;
  font-size: 80%;
}

/* manual fixes to make xyjax render in the correct color */
mjx-xypic svg > g { stroke: var(--text-color) !important; }

mjx-xypic-object { color: var(--text-color) !important; }

.MJX-TEX { color: var(--text-color) !important; }

div#tags {
  display: inline;
  /*float: right;*/
  font-size: 14px;
  color: var(--fg-shadowed);
}

ul#garden div#dates {
  /* display: inline; */
  /* float: right; */
  margin-left: 5%;
}

ul#garden div a { color: var(--text-color); }

div#alltags {
  display: inline;
  float: right;
  font-size: 12px;
  color: var(--fg-shadowed);
}

div#tags a, div#alltags a, div#taglist a { text-decoration: none; }

div#content.garden a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude javascript only links */
  [href^="javascript:" i],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//nilaykumar.github.com"],
  [href*="//localhost"],
  /* subdomains to exclude */
  [href*="//nilaykumar.github.com"],
  [href*="localhost"],
)) {
  text-decoration: underline dotted;
}

div#content.garden a[href^="/404.html"] {
  /* background-color: var(--broken-link-bg); */
  /* color: var(--broken-link-fg); */
  text-decoration: underline wavy;
}

div#tags:before { content: ' '; }
