{{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" type="text/css" href="{{ . | absURL }}"/>
{{- end }}
{{ if .Page.Params.xypic }}
<script>
  MathJax = {
    loader: {
      load: ['[custom]/xypic.js'],
      paths: {custom: '{{ .Site.Params.xypic_path | absURL }}'}
    },
    tex: {
      packages: {'[+]': ['xypic']}
    }
  };
</script>
{{ end }}
{{ if .Page.Params.mathjax -}}
  {{ range .Site.Params.math_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
  {{- end }}
{{- end }}
{{ if .Page.Params.xypic -}}
  {{ range .Site.Params.xy_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
  {{- end }}
{{- end }}
